*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: consolas;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    padding: 0 20px;
}
.wrapper{
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: black;

}

.result{
    padding: 0 15px;
    border: 2px white dotted;
}